SECRET_KEY='dwellingly'
PYTHONPATH=${PWD}:${PYTHONPATH}

## Uncomment to see logging from sqlalchemy
# DB_LOGGING=ON

## To set the database to postgresql. Uncomment the env vars below
# DEV_DATABASE_URL=postgresql://localhost/dwellingly_development
# TEST_DATABASE_URL=postgresql://localhost/dwellingly_test
