[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-flask = "*"
coverage = "*"
pytest-cov = "*"
faker = "*"
flake8 = "*"
freezegun = "*"
pytest-watch = "*"
python-dotenv = "*"
pytest = "*"
atomicwrites = "*"
flake8-bugbear = "*"
pre-commit = "*"
black = "*"

[packages]
Flask = "==2.0.1"
Flask-JWT-Extended = "==4.3.0"
Flask-RESTful = "==0.3.9"
Flask-SQLAlchemy = "==2.5.1"
Jinja2 = "==3.0.1"
PyJWT = "==2.1.0"
Werkzeug = "==2.0.1"
Flask-Mailman = "==0.3.0"
Flask-Cors = "*"
bcrypt = "==3.2.0"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
alembic = "*"
psycopg2 = "*"
gunicorn = "*"

[requires]
python_version = "3.9.6"

[scripts]
view_coverage = "coverage report -m"
dev-install = "pipenv install -d --pre"

[pipenv]
allow_prereleases = true
