[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-flask = "*"
coverage = "*"
pytest-cov = "*"
faker = "*"
flake8 = "*"
freezegun = "*"
pytest-watch = "*"
python-dotenv = "*"
pytest = "*"
atomicwrites = "*"
flake8-bugbear = "*"
pre-commit = "*"
black = "*"

[packages]
Flask = "==1.1.2"
Flask-JWT-Extended = "==3.24.1"
Flask-RESTful = "==0.3.8"
Flask-SQLAlchemy = "==2.5.1"
Jinja2 = "==2.11.3"
PyJWT = "==1.7.1"
Werkzeug = "==1.0.1"
Flask-mail = "==0.9.1"
Flask-Cors = "*"
psycopg2-binary = "*"
bcrypt = "==3.2.0"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
alembic = "*"

[requires]
python_version = "3.8"

[scripts]
view_coverage = "coverage report -m"
dev-install = "pipenv install -d --pre"

[pipenv]
allow_prereleases = true
